*,
::before,
::after {
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Outfit", sans-serif;
  font-size: 15px;
  background-color: hsl(212, 45%, 89%);
}

p,
h1 {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
  border-radius: 10px;
  overflow: hidden;
}

.container {
  width: 300px;
  padding: 15px 15px 30px 15px;
  background-color: white;
  color: hsl(216, 15%, 48%);
  border-radius: 20px;
}

.centered {
  margin: 1em auto 0em;
  width: 250px;
  text-align: center;
}

.title {
  margin-bottom: 0.8em;
  font-size: 20px;
  font-weight: 700;
  color: hsl(218, 44%, 22%);
}
