*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --white: #fff;
  --main-text-color: hsl(216, 15%, 48%);
  --background-color: hsl(212, 45%, 89%);
  --title-color: hsl(218, 44%, 22%);
}

body {
  margin: 0;
  padding: 0 15px;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Outfit", sans-serif;
  font-size: 0.9rem;
  color: var(--main-text-color);
  background-color: var(--background-color);
}

p,
h1 {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
  border-radius: 10px;
  overflow: hidden;
}

.container {
  max-width: 320px;
  padding: 15px 15px 40px 15px;
  background-color: var(--white);
  border-radius: 20px;
}

.centered {
  margin: 20px auto 0px;
  max-width: 250px;
  text-align: center;
}

.title {
  margin-bottom: 20px;
  font-size: 20px;
  font-weight: 700;
  color: var(--title-color);
}
